.home > .list aside, .blog > .list aside, .projects > .list aside {
  float: left;
}

.pagination {
  direction: ltr;
}

.post > .meta > .author-meta .author-name {
  margin: 0 10px 0 0;
}

.search-form .search-submit {
  margin-left: 0;
  margin-right: 10px;
}