.u-ellipse {
    display: flex;

    &::before {
        content: "";
        display: inline-block;
        width: 7px;
        height: 7px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
        border: 1px solid $wp_indigo_light_gray_color;
        margin: 0px 19px;
    }

    @include media(mobile-only) {
        display: block;
        width: 100%;
        text-align: center;
    }
}

/* Letter spacing */
.u-letter-space-medium {
    letter-spacing: 0.1em;
}

.u-letter-space-regular {
    letter-spacing: 0.05em;
}

.u-letter-space-small {
    letter-spacing: 0.03em;
}

/* Links */
.u-link--hypertext {
    border-bottom: 1px solid $wp_indigo_quaternary_color;
    padding-bottom: 3px;
}

/* Seprator */
.u-seprator {
    color: $wp_indigo_tertiary_color;

    margin: 0px 4px;
}

/* Links */
.u-link--secondary {
    color: $color_link_secondary;
    transition: $global-transition;

    &:hover,
    &:focus,
    &:active {
        color: $wp_indigo_quaternary_color; //3F51B5
    }

    &:focus {
        outline: thin dotted;
    }

    &:hover,
    &:active {
        outline: 0;
    }
}

/* Animations */

.u-has-fadein-animation {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.u-has-fadein-animation-delay {
    animation-delay: 1s;
}

.u-has-fadeinDown-animation {
    opacity: 0;
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.u-has-fadeinUp-animation {
    opacity: 0;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.dashicons,
.dashicons-before:before {
    transition: none !important;
}
