/*------------------------------------*\
  #Default Theme fonts 
*-------------------------------------*/

/*
*   Source Serif Pro
*   https://fonts.google.com/specimen/Source+Serif+Pro?query=Source+Serif+Pro&preview.text_type=custom#about
*
*/

// @font-face {
//   font-family: "sourceserifpro-regular";
//   src: url("../fonts/sourceserifpro-regular.woff2") format("woff2"),
//     url("../fonts/sourceserifpro-regular.woff") format("woff");
// }

// @font-face {
//   font-family: "sourceserifpro-light";
//   src: url("../fonts/sourceserifpro-light.woff2") format("woff2"),
//     url("../fonts/sourceserifpro-light.woff") format("woff");
// }

// /*
// *   Overpass
// *   https://fonts.google.com/specimen/Overpass?query=overpass#about
// *
// */

// @font-face {
//   font-family: "overpass";
//   src: url("../fonts/overpass.woff2") format("woff2"),
//     url("../fonts/overpass.woff") format("woff");
// }

// @font-face {
//   font-family: "overpass-light";
//   src: url("../fonts/overpass-light.woff2") format("woff2"),
//     url("../fonts/overpass-light.woff") format("woff");
// }
