/*------------------------------------*\
  #Headings
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 0 0 16px;
  // margin: 0px;
}

/* H1 */
h1,
.h1 {
  font-family: $wp_indigo_primary_font;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;

  color: $wp_indigo_primary_color;
}

/* H2 */
h2,
.h2 {
  font-family: $wp_indigo_primary_font;
  font-size: 20px;
  line-height: 31px;
  font-weight: 400;
  color: $wp_indigo_primary_color;
}

/* H3 */
h3,
.h3 {
  font-family: $wp_indigo_primary_font;
  font-size: 16px;
  line-height: 24px;

  font-weight: 400;
  color: $wp_indigo_primary_color;
}

/* H4 */
h4,
.h4 {
  font-family: $wp_indigo_secondary_font;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;

  color: $wp_indigo_primary_color;
}

/* H5 */
h5,
.h5 {
  font-family: $wp_indigo_secondary_font;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: $wp_indigo_primary_color;
}

/* H6 */
h6,
.h6 {
  font-family: $wp_indigo_primary_font;
  font-size: 13px;
  line-height: 21px;

  font-weight: 300;
  color: $wp_indigo_secondary_color;
}
