/*------------------------------------*\
  #Body
\*------------------------------------*/
body {
  height: 100vh;
  background-color: $color_background_body;
  font-size: 13px;
  color: $wp_indigo_secondary_color;
}

div {
  font-size: inherit;
}
