/*------------------------------------*\
  #Lists
\*------------------------------------*/
ul,
ol {
  margin: 0px;
  margin-bottom: 24px;
  padding: 0 0 0 23px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

li {
  margin: 0 0 0.5em;
  letter-spacing: 0.05em;
  color: $wp_indigo_secondary_color;
}
