form

 input[type=submit]
  margin-top: 15px

 input[type=submit]:hover , input[type=submit]:focus
  cursor: pointer
  background: #dddddd
  border-color: #dddddd

 input , textarea
  padding: 5px 10px
  width: 100%
  border-radius: 3px
  border: 1px solid #ececec
  box-sizing: border-box

  &:focus
   border-color: #a0a0a0


textarea
 max-height: 120px


