.header-home
    display: block
    margin: 0 auto
    text-align: center
    position: relative
    z-index: 99

    .custom-logo-link:hover
        text-decoration: none
        border: 0

        img:hover
            opacity: .9

    .selfie img
        width: 100px
        margin-bottom: 25px
        border-radius: 100%
        box-shadow: none
        opacity: 1

    > .title-link
        text-decoration: none

        > .title
            line-height: 30px
            margin: 0 0 30px

    > .description
        font-size: 1rem
        font-weight: 300
        font-style: normal
        color: #666
        width: 70%
        margin: 0 auto 30px
        line-height: 28px

        // if you put some links in your bio. ;)
        a
            font-weight: 200