/*------------------------------------*\
  #Pagination
\*------------------------------------*/
.c-pagination {
  width: 100%;
  padding-top: 13px;
  display: flex;
  justify-content: center;

  @include media(tablet) {
    padding-top: 48px;
  }
}

.page-numbers.current {
  color: $wp-indigo_quaternary_color;
  margin-right: 24px;
}

.next.page-numbers {
  margin-left: 24px;
}
.prev.page-numbers {
  margin-right: 24px;
}
.page-numbers {
  margin: 0px 4px;
  font-family: $wp_indigo_primary_font;
  font-weight: 300;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: $wp-indigo_primary_color;
}
