/*------------------------------------*\
  #Header
\*------------------------------------*/
.c-header {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;

  opacity: 0;
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  z-index: 100;

  @include media(tablet) {
    margin-top: 48px;
  }
}

.c-header__main {
  width: calc(100%);
  min-height: 32px;

  height: max-content;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  @include media(tablet) {
    width: 885px;
    max-width: 100%;
    align-items: center;
  }
}

.c-header__title {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0px;
}

.c-header__menu {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  max-height: 32px;
  position: relative;
  padding: 0px;

  @include media(tablet) {
    display: none;
    margin-top: 0px;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
  }

  &:focus {
    border: 1px solid $wp-indigo_neutral_gray_light_color;
  }
}

.c-header__branding {
  height: 100%;
  max-height: 32px;
  display: flex;
  align-items: flex-start;
}

.c-header__navigation {
  display: none;
  width: 100%;

  @include media(mobile-only) {
    animation-name: dropDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @include media(tablet) {
    display: block;
    width: max-content;
  }
}

/**/

.c-header__menu__icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-header__menu__icon .hamburger {
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #000;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.c-header__menu__icon .hamburger::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #000;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.c-header__menu__icon .hamburger::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #000;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* Menu open */
.c-header__main.is-open {
  .c-header__navigation {
    display: block;
    height: calc(100vh);
  }

  .s-nav {
    .menu-item {
      @include media(mobile-only) {
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 0.2s;
        animation-fill-mode: forwards;
      }
    }
  }

  /* Menu burger */
  .c-header__menu__icon .hamburger {
    background-color: transparent;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
  }
  .c-header__menu__icon .hamburger::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .c-header__menu__icon .hamburger::after {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

/* Menu Close  */
.c-header__main.is-close {
  @include media(mobile-only) {
    animation-name: dropDownReverse;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .s-nav {
    .menu-item {
      @include media(mobile-only) {
        animation-name: fadeOut;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
    }
  }
}
