// Fonts
@font-face {
  font-family: "SourceSerifPro";
  font-weight: 300;
  src: url("../fonts/sourceserifpro-light.woff2") format("woff2"), url("../fonts/sourceserifpro-light.woff") format("woff");
}

@font-face {
  font-family: "SourceSerifPro";
  font-weight: 400;
  src: url("../fonts/SourceSerifPro-regular.woff2") format("woff2"), url("../fonts/SourceSerifPro-regular.woff") format("woff");
}

@font-face {
  font-family: "overpass";
  font-weight: 300;
  src: url("../fonts/overpass-light.woff2") format("woff2"), url("../fonts/overpass-light.woff") format("woff");
}

@font-face {
  font-family: "overpass";
  font-weight: 400;
  src: url("../fonts/Overpass.woff2") format("woff2"), url("../fonts/Overpass.woff") format("woff");
}

$wp_indigo_primary_font: "overpass";
$wp_indigo_secondary_font: "SourceSerifPro";
