/*------------------------------------*\
  #Widgets
\*------------------------------------*/
.c-widget {
  width: 260px;
  margin-left: 65px;
  display: none;
  opacity: $global-animation-opacity;

  @include media(tablet) {
    display: block;
  }

  .widget_search {
    position: relative;
  }

  .search-field {
    margin-top: 0px;
    padding: 9px;
  }

  .search-submit {
    background-color: transparent;
    font-size: 0px;
    position: absolute;
    right: -12px;
    top: -6px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='1em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath d='M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392l.604.646l2.121-2.121l-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5s5 2.243 5 5s-2.243 5-5 5z' fill='%23626262'/%3E%3C/svg%3E")
      no-repeat center center / contain;
    background-size: 20px;

    &:hover {
      background-color: transparent;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='1em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath d='M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392l.604.646l2.121-2.121l-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5s5 2.243 5 5s-2.243 5-5 5z' fill='%233F51B5'/%3E%3C/svg%3E")
        no-repeat center center / contain;
      background-size: 20px;
    }

    &:focus {
      background-color: transparent;
    }
  }
}

.c-widget__title {
  margin-bottom: 16px;
}

.c-widget__tag {
  margin-right: 8px;
  &::before {
    content: "#";
  }
}

/* WordPress Default Widget */
.widget {
  padding-bottom: 48px;
  ul {
    margin-top: 16px;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
    font-family: $wp_indigo_primary_font;
    font-weight: 300;
    margin-bottom: 0px;
  }

  li {
    margin-bottom: 10px;
    line-height: 21px;
    a {
      font-weight: 300;
    }
  }

  .sub-menu {
    display: none;
  }
}

.tag-cloud-link {
  color: $wp_indigo_secondary_color;
  margin-right: 4px;

  &:before {
    content: "#";
  }
}

.c-widget__item {
  color: $wp_indigo_secondary_color;
  display: inline-block;
  margin-right: 4px;
}
.c-widget__item__link {
  color: $wp_indigo_secondary_color;

  &:hover {
    color: $wp_indigo_quaternary_color;
  }

  &::before {
    content: "#";
  }
}

/* WordPress Default Widget ( category ) */

.widget {
  a {
    color: $wp_indigo_secondary_color;

    &:hover {
      color: $wp_indigo_quaternary_color;
    }
  }
}

.widget.widget_tag_cloud {
  margin-bottom: 32px;
}
